.lt-gray-bg {
  background-color: var(--clr-bg);
}

ol {
  width: 100%;
  padding: 4.8rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
}

ol li:not(:last-child) {
  padding-right: 1.2rem;
  position: relative;
}

ol li:not(:last-child)::after {
  content: "/";
  color: var(--dark-gray);
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  right: 0.3rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

ol li:not(:last-child) a:hover {
  color: var(--clr-green);
}

ol li:not(:last-child).wtc a {
  color: var(--clr-white);
}

ol li:not(:last-child).wtc::after {
  color: var(--clr-white);
}

ol li a {
  font-family: var(--fnt-text);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: var(--dark-gray);
  text-decoration: none;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

ol li:last-child a {
  color: var(--clr-green);
  pointer-events: none;
}

.cards {
  padding: 11rem 0 6rem;
}

.cards__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 4rem;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.8rem 1.6rem;
  width: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1.6rem;
  background-color: var(--clr-white);
  text-decoration: none;
}

.card__img {
  border-radius: 0.8rem;
}

.card__title h2 {
  font-family: var(--fnt-text);
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 28.8px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--clr-dark);
}

.card__content p {
  font-family: var(--fnt-text);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 19.68px;
  text-align: left;
  color: var(--clr-gray);
}

@media screen and (min-width: 993px) {
  .card {
    width: calc(33.333% - 2rem);
  }
}

@media screen and (min-width: 1071px) {
  .card {
    width: calc(33.333% - 2.666rem);
  }
}

@media screen and (max-width: 1070px) {
  .cards__wrapper {
    gap: 3rem;
  }
}

@media screen and (max-width: 1010px) {
  .cards .cards-container {
    padding: 0 2rem;
    max-width: 860px;
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 992px) {
  ol {
    padding: 1.8rem 0;
  }

  ol li:not(:last-child)::after {
    font-size: 1.4rem;
  }

  .cards {
    padding: 4rem 0 4rem;
  }

  .card {
    max-width: calc(50% - 1.5rem);
    min-width: 250px;
  }
}

@media screen and (max-width: 768px) {
  .cards__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 1.6rem;
  }
}

@media screen and (max-width: 545px) {
  .cards .cards-container {
    max-width: 380px;
  }

  .card {
    max-width: 350px;
  }
}

@media screen and (max-width: 320px) {
  .card__title h2 {
    font-size: 1.4rem;
    line-height: 1.6;
  }

  .card__content p {
    font-size: 1.2rem;
    line-height: 1.23;
  }
}